<section data-external-replace="openTerminal.html"></section>
<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <div data-markdown>
        <textarea data-template>
            出てきたウィンドウのプロンプトに
            ```sh
            wsl
            ```
            と入力しエンターを押す
        </textarea>
    </div>
</section>