<section data-markdown>
    <textarea data-template>
        <img src="assets/taskbar.png" /><br>
        スタートを右クリックする
    </textarea>
</section>
<section data-markdown>
    <textarea data-template>
        <img src="assets/startSubmenu.png" /><br>
        <code style="background-color: lightgray">ターミナル(管理者)</code>をクリックする<br>
        ※ <code style="background-color: lightgray">Terminal(管理者)</code>や<code style="background-color: lightgray">PowerShell(管理者)</code>の場合もあります<br>
    </textarea>
</section>