<!-- for Windows-->
<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <div data-markdown>
        <textarea data-template>
            <img src="assets/taskbar.png" /><br>
            スタートを右クリックする
        </textarea>
    </div>
</section>

<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
    <div data-markdown>
        <textarea data-template>
            <img src="assets/startSubmenuNoAdmin.png" /><br>
            <code style="background-color: lightgray">ターミナル</code>をクリックする<br>
            ※ <code style="background-color: lightgray">PowerShell</code>や<code style="background-color: lightgray">Terminal</code>と表示される場合もあります<br>
        </textarea>
    </div>
</section>

<!-- for Unix -->
<section data-if>
    <textarea data-if-conditions>{"type": "simple", "conditions": {"os": "unix"}}</textarea>
    <div data-markdown>
        <textarea data-template>
            ターミナルや端末を開く<br>
            ※ macOSでは<code style="background-color: lightgray">⌘+スペース</code>を押して出てきた検索バーに<code style="background-color: lightgray">terminal</code>と入力しエンターを押すと開くことができます<br>
            わからない方は教員等に質問してください<br>
        </textarea>
    </div>
</section>




