<section data-if>
    <textarea data-if-conditions>
        {"type": "operation", "operation": "||", "values": [
            {"type": "operation", "operation": "&&", "values": [
                {"type": "shortcut", "name": "isWindows"},
                {"type": "simple", "conditions": {"terminalType": "powershell"}}
            ]},
            {"type": "simple", "conditions": {"os": "unix"}}
        ]}
    </textarea>
    <div data-markdown>
        <textarea data-template>
            <img src="assets/openJupyter.png" /><br>
            のような画面になるのでhttpから始まるURLを選択する。<br>
            その後選択した部分にカーソルを合わせ右クリックする。<br>
            ※ もしコンテキストメニューが表示されたらコピーをクリックする。<br>
        </textarea>
    </div>
</section>
<section data-if>
    <textarea data-if-conditions>
        {"type": "operation", "operation": "&&", "values": [
            {"type": "shortcut", "name": "isWindows"},
            {"type": "simple", "conditions": {"terminalType": "powershell"}}
        ]}
    </textarea>
    <div data-markdown>
        <textarea data-template>
            ブラウザを開きアドレスバーに貼り付ける
        </textarea>
    </div>
</section>
<section data-if>
    <textarea data-if-conditions>
        {"type": "operation", "operation": "&&", "values": [
            {"type": "shortcut", "name": "isWindows"},
            {"type": "simple", "conditions": {"terminalType": "windowsTerminal"}}
        ]}
    </textarea>
    Ctrlキーを押しながらhttpから始まるURLをクリックする。
    <img src="assets/openJupyter.png" /><br>
</section>
