<section data-external-replace="openShell.html"></section>
<section>
    <div data-markdown>
        <textarea data-template>
            仮想環境の有効化<br/>
            プロンプトに
            ```sh
            mamba activate sage{{SAGE_VERSION}}
            ```
            と入力しエンターを押す
        </textarea>
    </div>
</section>
