<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/white.css">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css">
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section data-markdown id="Title">
            <textarea data-template>
                #### <code>UbuntuとAnacondaでSageMathを導入する</code>
                ##### <code>{{version}}</code>
            </textarea>
        </section>

        <section id="Usage" data-external-replace="includes/Usage.html"></section>

        <section id="CheckEnvironments" data-external-replace="includes/CheckEnvironments.html"></section>

        <section id="Index" data-external-replace="includes/Index.html"></section>

        <section id="Repository" data-external-replace="includes/Repository.html"></section>

        <section id="Defines" data-external-replace="includes/Defines.html"></section>

        <section id="EnableWSL" data-external-replace="includes/EnableWSL.html"></section>

        <section id="UpdateWSL" data-external-replace="includes/UpdateWSL.html"></section>

        <section id="DownloadUbuntu" data-external-replace="includes/DownloadUbuntu.html"></section>

        <section id="InstallUbuntu" data-external-replace="includes/InstallUbuntu.html"></section>

        <section id="SetDefaultUbuntu" data-external-replace="includes/SetDefaultUbuntu.html"></section>

        <section id="InstallAnaconda" data-external-replace="includes/InstallAnaconda.html"></section>

        <section id="InstallSageMath" data-external-replace="includes/InstallSageMath.html"></section>

        <section id="InstallPackage" data-external-replace="includes/InstallPackage.html"></section>

        <section id="StartSageMath" data-external-replace="includes/StartSageMath.html"></section>

        <section id="FAQ" data-external-replace="includes/FAQ.html"></section>

        <section id="Flow" data-external-replace="includes/Flow.html"></section>
    </div>
</div>

<script src="dist/reveal.js"></script>
<script src="plugin/notes/notes.js"></script>
<script src="plugin/markdown/markdown.js"></script>
<script src="plugin/highlight/highlight.js"></script>
<script src="plugin/copycode/copycode.js"></script>
<script src="plugin/if/If.js"></script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/#

    Reveal.initialize({
        hash: true,
        width: "100%",
        height: "120%",
        margin: 0.01,
        If: {
            variables: {
                os: {type: "radio", ask: "使用しているOSを選択してください", options: [
                        {value: "windows10", display: "Windows10"},
                        {value: "windows11", display: "Windows11"},
                        {value: "unix", display: "unix系(macOS等)"},
                    ]},
                terminalType: {type: "radio", ask: "スタートを右クリックした時に以下のどちらが表示されましたか？", options: [
                        {value: "powershell", display: "PowerShell"},
                        {value: "windowsTerminal", display: "ターミナルまたはTerminal"},
                    ]},
            },
            shortcuts: {
                isWindows: {
                    "type": "operation",
                    "operation": "||",
                    "values": [
                        {"type": "simple", "conditions": {"os": "windows10"}},
                        {"type": "simple", "conditions": {"os": "windows11"}}
                    ]
                }
            }
        },

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [CopyCode, RevealMarkdown, RevealHighlight, RevealNotes, If],
        dependencies: [
            {
                src: 'plugin/external/external.js',
                condition: function() {
                    return !!document.querySelector( '[data-external],[data-external-replace]' );
                }
            },
        ]
    });
</script>
</body>
</html>
