<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;URL=./{{version}}">
    <title>Redirecting Latest Version</title></head>
<body><h1>リダイレクト</h1>
<p>最新のバージョンにリダイレクトしています<br>リダイレクトしない場合は、以下のURLをクリックしてください。</p>
<p><a href="./{{version}}">最新版</a></p></body>
</html>