<section data-if>
    <textarea data-if-conditions>{"type": "shortcut", "name": "isWindows"}</textarea>
  <section id="setDefaultUbuntu">
      <code>WSLの既定のOSの確認と変更</code>
  </section>
  <section data-external-replace="common/openTerminal.html"></section>
  <section data-markdown>
      <textarea data-template>
          出てきたウィンドウのプロンプトに
          ```sh
          wsl --list
          ```
          と入力しエンターを押す
      </textarea>
  </section>
  <section>
      <code style="background-color: black; color: white">Ubuntu (既定)</code>と出力されましたか？<br>
      <a href="#setDefaultUbuntuEnd">はい</a>/<a href="#setDefaultUbuntuCommand">いいえ</a>
  </section>

  <section data-markdown id="setDefaultUbuntuCommand">
      <textarea data-template>
          ```sh
          wsl --set-default Ubuntu
          ```
          と入力しエンターを押す
      </textarea>
  </section>
  <section data-markdown id="setDefaultUbuntuEnd">
      <textarea data-template>
          ウィンドウを閉じる
      </textarea>
  </section>
</section>