<section>
    <section data-markdown id="Usage">
        <textarea data-template>
            ## この手順書の読み方
            原則▼を使って次の手順へ移動してください
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ## この手順書の読み方
            ▼で次の手順に進めなくなったら▶︎を使って次のステップへ移動してください
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ## この手順書の読み方
            やり忘れたことや前の手順を忘れた場合は<br/>
            ▲を使って前の手順へ移動することができます<br/>
            また、◀︎をつかって前のステップへ移動することができます</br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ## この手順書の読み方
            リンクがあり、疑問文があるときはその答えをクリックする<br>
            それ以外の時は指示に従う。<br>
            <code>使い方がわかりましたか？</code><br>
            <a href="#UsageYes">わかった</a>/<a href="#UsageNo">わからなかった</a>
        </textarea>
    </section>
    <section data-markdown id="UsageNo">
        <textarea data-template>
            ▲で前の手順に戻ってやり直してください
        </textarea>
    </section>
    <section></section>
    <section></section>
    <section data-markdown id="UsageYes">
        <textarea data-template>
            ## この手順書の読み方
            <label style="padding: 10ppx 10px;"><input type="radio">ラジオボタン</label>や<select style="font-size: 0.8em"><option>選択肢</option></select>がある場合は適切なものを選択してください<br>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            ## この手順書のつかいかた
            ```sh
            you can copy this text
            ```
            上のような場合は右側にある<code style="background-color: lightgray">Copy</code>をクリックすると内容をコピーできます。</br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            ## この手順書の読み方まとめ
            ▼で次の手順へ進む<br/>
            ▲で前の手順に戻る<br/>
            ▶︎で次のステップへ進む<br/>
            ◀︎で前のステップへ戻る<br/>
            <code style="background-color: lightgray">Copy</code>をクリックすると内容をコピーできる<br/>
            リンクがある時は書いてあることに答えるか書いてある指示に従う<br/>
            ラジオボタンや選択肢がある場合適切なものを選択する。<br>

            では次のステップに進んでください
        </textarea>
    </section>

</section>